<div class="modal fade" tabindex="-1" role="dialog"  id="roleAddModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Role</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="newRole.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" ng-model="newRole.description">
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.testManagementView"> View Test Management
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.testManagementEdit"> Edit Test Management
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.testPlanView"> View Test Plan
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.testPlanEdit"> Edit Test Plan
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.testPlanRun"> Run Test Plan
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.userManagementView"> View User Management
            </label></p>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newRole.permissions.userManagementEdit"> Edit User Management
            </label></p>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addRole()">Add</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
