<div class="panel panel-primary preconditions-panel">
  <ul class="list-group"  >
    <li class="steps-table-column list-group-item" ng-repeat="precondition in testCase.preconditions track by $index" id="preconditionsListGroup">
      {{precondition}}
      <div class="btn-group btn pull-right btn-group-in-list" role="group" ng-show="showMode">
        <button type="button" class="btn btn-default fa fa-pencil" ng-click="editPrecondition($index)"></button>
        <button type="button" class="btn btn-default fa fa-times-circle" ng-click="deletePrecondition($index)"></button>
      </div>
      <div class="btn-group btn pull-right btn-group-in-list" role="group" ng-show="showMode">
        <button type="button" class="btn btn-default fa fa-arrow-up" ng-disabled="$index === 0" ng-click="upPrecondition($index)"></button>
        <button type="button" class="btn btn-default fa fa-arrow-down" ng-disabled="disableLastDownButton($index)" ng-click="downPrecondition($index)"></button>
      </div>
    </li>
    <div class="btn-group btn pull-right" role="group" ng-hide="showMode">
      <button type="button" class="btn btn-default pull-right btn-primary" ng-click="showMode=!showMode">Edit</button>
    </div>
    <div class="btn-group btn pull-right" role="group" ng-show="showMode">
      <button type="button" class="btn btn-default btn-primary" ng-click="newPrecondition()">New</button>
      <button type="button" class="btn btn-default" ng-click="showMode=!showMode" >Canel</button>
    </div>
  </ul>

</div>
