<div class="modal fade" tabindex="-1" role="dialog"  id="changePasswordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
      </div>
      <div class="modal-body">
        <div id="incorrect-group" ng-show="reqErr.error">
          <pre class="alert alert-danger">{{reqErr.message}}</pre>
        </div>
        <div class="form-group">
          <form autocomplete="off">
            <input type="password" class="form-control" ng-model="password1" placeholder="Password" required>
            <input type="password" class="form-control" ng-model="password2" placeholder="Password, again" required>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="change()">Change</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
