<div class="modal fade" tabindex="-1" role="dialog"  id="testSuiteAddModal" ng-controller="TpsController">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Test suite</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="newTS.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" ng-model="newTS.description">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="newTSKeywords" placeholder="Write keywords and hit enter"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addTestSuite()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
