<div ng-controller="DashBoardController">
  <!--Modals:-->
  <test-project-crud></test-project-crud>
  <test-project-crud-add></test-project-crud-add>
  <user-management-crud></user-management-crud>
  <user-crud-add></user-crud-add>
  <role-crud-add></role-crud-add>
  <alert></alert>
  <!--./Modals-->

  <navbar></navbar>

  <!-- Tabs: -->
  <ul class="nav nav-tabs" id="navTab">
    <li class="active"><a data-target="#tm" data-toggle="tab">Test management</a></li>
    <li><a data-target="#tp" data-toggle="tab">Test plan</a></li>
  </ul>

  <div class="tab-content">
     <div class="tab-pane active" id="tm">
       <div id="tmLeft" style="width: 25%">
         <test-management-find></test-management-find>
         <test-management-tree></test-management-tree>
       </div>
     </div>
     <div class="tab-pane" id="tp">Test Plan</div>
   </div>
   <!-- ./Tabs: -->

 </div>
