<div ng-controller="DashBoardController">
  <!--Modals:-->
  <test-project-crud></test-project-crud>
  <test-project-crud-add></test-project-crud-add>
  <user-management-crud></user-management-crud>
  <user-crud-add></user-crud-add>
  <role-crud-add></role-crud-add>
  <test-project-roles-add></test-project-roles-add>
  <test-suite-crud-add></test-suite-crud-add>
  <test-case-crud-add></test-case-crud-add>
  <preconditions-add-edit></preconditions-add-edit>
  <alert></alert>
  <!--./Modals-->

  <navbar></navbar>

  <!-- Tabs: -->
  <ul class="nav nav-tabs" id="navTab">
    <li class="active"><a data-target="#tm" data-toggle="tab">Test management</a></li>
    <li><a data-target="#tp" data-toggle="tab">Test plan</a></li>
  </ul>

  <div class="tab-content">
     <div class="tab-pane tm-left active" id="tm">
       <div id="tmTree" class="tree-left">
         <test-management-find></test-management-find>
         <test-management-tree></test-management-tree>
       </div>
       <div id="tmPanel" class="panel-right">
         <tpj-panel id="tpjPanel" class="init-hidden"></tpj-panel>
         <ts-panel id="tsPanel" class="init-hidden"></ts-panel>
         <tc-panel id="tcPanel" class="init-hidden"></tpc-panel>
       </div>
     </div>
     <div class="tab-pane" id="tp">Test Plan</div>
   </div>
   <!-- ./Tabs: -->

 </div>
