<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="NavbarController">
            <div class="navbar-header">
                <a class="navbar-brand">Testing It</a>
            </div>
          <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test project <span class="caret"></span></a>
                <ul class="dropdown-menu navbar-dopdown-menu">
                  <div ng-repeat="project in testProjects">
                    <li><a >{{project.prefix}}: {{project.name}}</a></li>
                  </div>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="openModal('testProjectCrudModal')"><i class="fa fa-cog fa-fw"></i> Management</a></li>
                  <li><a><i class="fa fa-key fa-fw"></i> Key words</a></li>
                </ul>
              </li>
              <li>
                <a href="" ng-click="openModal('alertsModal')">
                  <i class="fa fa-bell"></i><span class="badge" ng-show="existAlerts()">{{unreadAlerts}}</span></a>
                </a>
              </li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" >
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="openModal('userManagementModal')"><i class="fa fa-users fa-fw"></i> User management</a></li>
                        <li><a><i class="fa fa-user-secret fa-fw"></i> Profile</a></li>
                        <li class="divider"></li>
                        <li><a><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
</div>
