<div class="input-group">
  <input type="text" class="form-control" placeholder="Search" ng-model="textToFindInTmTree">
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit" ng-click="findInTmTree()"><i class="fa fa-search"></i></button>
  </div>
  <div class="input-group-btn">
    <button class="btn btn-default" type="submit" ng-click="collapseTmTree()"><i class="fa fa-caret-square-o-up"></i></button>
    <button class="btn btn-default" type="submit" ng-click="expandTmTree()"><i class="fa fa-caret-square-o-down"></i></button>
  </div>
</div>
