<div class="modal fade" tabindex="-1" role="dialog"  id="testProjectCrudModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Test projects</h4>
      </div>
      <div class="modal-body">
        <div class="gridStyle" ui-grid="testProjectCrudGridOptions" ui-grid-auto-resize ui-grid-edit ui-grid-cellNav></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="openAddProjectModal()">Add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
