.steps-panel{
  margin-left:30px
}

.steps-line{
  width: 100%!important;
  margin-left: 0px!important
}

.steps-table-column{
  border: 0px!important;
  margin-bottom: 0px!important;
}

.steps-table-head{
  margin-left:30px!important;
  width: 100%!important;
  margin-left: 0px!important;
  background-color: #428bca!important;
  color: white!important;
  border:0px!important;
}
