<div class="panel panel-primary tsPanel" ng-controller="TsController">
  <div class="panel-heading">
    <div class="btn-group pull-right editDropDown">
        <a class="btn dropdown-toggle dropdown-color" data-toggle="dropdown" >
          Edit
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a><i class="fa fa-pencil" aria-hidden="true"></i>  Edit Test suite</a></li>
          <li><a><i class="fa fa-times" aria-hidden="true"></i>  Delete Test suite</a></li>
          <li class="divider"></li>
          <li><a ng-click="newTestSuite(testSuite)"><i class="fa fa-folder-o" aria-hidden="true"></i>  New Test suite</a></li>
          <li><a ng-click="newTestCase(testSuite)"><i class="fa fa-cogs" aria-hidden="true"></i>  New Test case</a></li>
        </ul>
      </div>
      <i class="fa fa-folder-o" aria-hidden="true"></i>  {{testSuite.name}}
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label>Description:</label>
        {{testSuite.description}}
      </div>
      <div class="form-group">
        <label>Keywords:</label>
        <div ng-repeat="keyword in testSuite.keywords.split(',')">
            <span class="label label-default">{{keyword}} </span>
        </div>
      </div>
    </form>
  </div>
</div>
