<div class="panel panel-default tpjPanel">
  <div class="panel-heading">
    <div class="btn-group pull-right editTpjDropDown">
        <a class="btn dropdown-toggle" data-toggle="dropdown" >
          Edit
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a>Edit Test project</a></li>
          <li><a>Delete Test project</a></li>
          <li class="divider"></li>
          <li><a ng-click="newTestSuite(testProject)">New Test suite</a></li>
          <li><a>New Test case</a></li>
        </ul>
      </div>
      {{testProject.name}} -{{testProject.prefix}}-</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="email">Description:</label>
        {{testProject.description}}
      </div>
    </form>
  </div>
</div>
