<div class="panel panel-primary tpjPanel">
  <div class="panel-heading">
    <div class="btn-group pull-right editDropDown">
        <a class="btn dropdown-toggle dropdown-color" data-toggle="dropdown" >
          Edit
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a ng-click="editTestProject()">Edit Test project</a></li>
          <li><a ng-click="deleteTestProject()">Delete Test project</a></li>
          <li class="divider"></li>
          <li><a ng-click="newTestProject()">New Test project</a></li>
          <li><a ng-click="newTestSuite()">New Test suite</a></li>
          <li><a ng-click="newTestCase()">New Test case</a></li>
        </ul>
      </div>
      {{testProject.name}}</div>
  <div class="panel-body">
    <div class="form-group">
      <label>Prefix:</label>
      {{testProject.prefix}}
    </div>
    <div class="form-group">
      <label>Description:</label>
      {{testProject.description}}
    </div>
    <div class="form-group">
      <label>Priorities:</label>
      <div ng-repeat="priority in testProject.priorities.split(',') track by $index">
        <span class="label label-pill label-default">{{priority}}</span>
      </div>
    <div class="form-group">
      <label>Status:</label>
      <div ng-repeat="status in testProject.status.split(',') track by $index">
        <span class="label label-pill label-default">{{status}}</span>
      </div>
    </div>
  </div>
</div>
