<div class="panel panel-primary tpjPanel">
  <div class="panel-heading">
    <div class="btn-group pull-right editDropDown">
        <a class="btn dropdown-toggle dropdown-color" data-toggle="dropdown" >
          Edit
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a ng-click="editTestProject()"><i class="fa fa-pencil" aria-hidden="true"></i>  Edit Test project</a></li>
          <li><a ng-click="deleteTestProject()"><i class="fa fa-times" aria-hidden="true"></i>  Delete Test project</a></li>
          <li class="divider"></li>
          <li><a ng-click="newTestProject()"><i class="fa fa-folder" aria-hidden="true"></i>  New Test project</a></li>
          <li><a ng-click="newTestSuite()"><i class="fa fa-folder-o" aria-hidden="true"></i>  New Test suite</a></li>
          <li><a ng-click="newTestCase()"><i class="fa fa-cogs" aria-hidden="true"></i>  New Test case</a></li>
          <li class="divider"></li>
          <li><a ng-click="newTestPlan()"><i class="fa fa-tachometer" aria-hidden="true"></i>  Run test plan</a></li>
        </ul>
      </div>
      <i class="fa fa-folder" aria-hidden="true"></i>  {{testProject.name}}
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label>Prefix:</label>
      {{testProject.prefix}}
    </div>
    <div class="form-group">
      <label>Description:</label>
      {{testProject.description}}
    </div>
    <div class="form-group">
      <label>Priorities:</label>
      <div ng-repeat="priority in testProject.priorities.split(',') track by $index">
        <span class="label label-pill label-default">{{priority}}</span>
      </div>
    <div class="form-group">
      <label>Status:</label>
      <div ng-repeat="status in testProject.status.split(',') track by $index">
        <span class="label label-pill label-default">{{status}}</span>
      </div>
    </div>
  </div>
</div>
