<div id="test-management-tree-id">
  <abn-tree header="This is the example tree" tree-data="tmTreeData" icon-leaf="icon-file" on-select="my_default_handler(branch)" expand-level="2" initial-selection="Vegetable"></abn-tree>
</div>
  <!--<abn-tree
      tree-data         = "tmTreeData"
      tree-control      = "my_tree"
      icon-leaf         = "icon-file"
      icon-expand       = "icon-plus-sign"
      icon-collapse     = "icon-minus-sign"
      on-select         = "my_tree_handler(branch)"
      expand-level      = "1"
      initial-selection = "Vegetable">
  </abn-tree>-->
